<% layout("/layouts/boilerplate") %>

<body>
  <form
    method="post"
    action="/listings/<%= listing._id %>?_method=PATCH"
    novalidate
    class="needs-validation"
    enctype="multipart/form-data"
  >
    <br />
    <div class="col-8 offset-2">
      <h3>Edit listing</h3>
      <div class="mb-3">
        <label class="form-label" for="title"> Title:</label>
        <input
          type="text"
          id="title"
          name="listing[title]"
          value="<%= listing.title %>"
          class="form-control col-auto"
          required
        />
        <div class="valid-feedback">Title looks good!</div>
        <div class="invalid-feedback">Title should be valid!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description"> Description:</label>
        <textarea
          name="listing[description]"
          rows="2"
          cols="30"
          id="description"
          class="form-control"
          required
        >
<%= listing.description%></textarea
        >
        <div class="valid-feedback">Description looks good!</div>
        <div class="invalid-feedback">Description should be valid!</div>
      </div>
      <div class="mb-3">
        Orginal image <br />
        <img src="<%= originalUrl %>" style="width: 150px" />
      </div>
      <div class="mb-3">
        <label class="form-label" for="image"> Upload new image:</label>
        <input
          type="file"
          id="image"
          name="listing[image]"
          class="form-control"
        />
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label class="form-label" for="price"> Price:</label>
          <input
            type="number"
            name="listing[price]"
            value="<%= listing.price %>"
            id="price"
            class="form-control"
            required
          />
          <div class="valid-feedback">Price looks good!</div>
          <div class="invalid-feedback">Price should be valid!</div>
        </div>
        <div class="mb-3 col-md-8">
          <label class="form-label" for="country"> Country:</label>
          <input
            type="text"
            name="listing[country]"
            id="country"
            value="<%= listing.country %>"
            class="form-control"
            required
          />
          <div class="valid-feedback">Country looks good!</div>
          <div class="invalid-feedback">Country should be valid!</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location"> Location:</label>
        <input
          type="text"
          id="location"
          name="listing[location]"
          value="<%= listing.location %>"
          class="form-control"
          required
        />
        <div class="valid-feedback">Location looks good!</div>
        <div class="invalid-feedback">Location should be valid!</div>
      </div>

      <button class="btn btn-dark editBtn">Edit</button>
      <br />
      <br />
    </div>
  </form>
</body>
